src/main/app/cloudhub-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="CloudHubCiCD-First">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/CloudCICD" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="testVM" doc:name="VM-Send"/>
    </flow>
    <flow name="CloudHubCiCD-Second">
        <vm:inbound-endpoint exchange-pattern="one-way" path="VM-Send" doc:name="VM-Send"/>
        <object-to-string-transformer returnClass="java.lang.String" doc:name="Object to String"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="VM-Recieve" doc:name="VM"/>
    </flow>
</mule>
